* {
	margin:0px;
	padding:0px;
}
body {
	font-size:12px;
	color:#FFC;
	background: url(../images/back.png);
	 text-align: center;
}
h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
}
form {
    position: relative;
    width: 350px;
    margin: 15px auto 0 auto;
    text-align: center;
}
input {
	float: left;
    width: 270px;
    height: 42px;
    margin-top: 25px;
    padding: 0 15px;
    background: #2d2d2d;
    background: rgba(45,45,45,.15);
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    border: 1px solid rgba(255,255,255,.15);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'ו';
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
}
button {
    cursor: pointer;
    width: 300px;
    height: 44px;
    margin-top: 25px;
    padding: 0;
    background: #ef4300;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ff730e;
    font-family: 'ו';
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.register {
	width: 960px;
	height: 713px;
	margin:0 auto;
	text-align: center;
	position:relative;
}
.header {
	width: 960px;
	height: 80px;
	float: left;
	background: white;
}

.introduce {
	width: 960px;
	font-size: 14px;
    line-height: 36px;
    font-weight: normal;
    color:white;
    background: deepskyblue;
    text-indent: 20px;
    padding-top:10px;
    padding-bottom: 10px;
}
.continer{
	width: 960px;
	height:580px;
}
.continer_left {
	width:600px;
	height:580px;
    background: white;
    float:left;
}
.left_main {
	height: 500px;
	width: 450px;
	float: left;
	margin-left: 90px;
	margin-top: 35px;
	background: lightskyblue;
}
.continer_right {
	width:360px;
	height:580px;
	background:url(../images/continer_right.png);
	float: left;
}

strong{
	color: black;
	font-size: 14px;
	font-weight: bold;
}

span {
	font-size:10px;
	font-family: "ו";
	color: black;
}

select {
	height:25px;
}



