@charset "gb2312";
.tuichu{
	float: right;
	width: 80px;
	height: 5px;
	margin-top: 1px;
	line-height: 1px;
	cursor: pointer;
}
.chongxindenglu{
	float: right;
	width: 80px;
	height: 5px;
	margin-top: 1px;
	line-height: 1px;
	cursor: pointer;
}

